<main role="main">
  <section class="panel important">
  </section>
  <section class="panel important">
    <h2>مرحبا بك في لوحة التحكم الخاصة بمسؤول الموقع </h2>
    <div class="container">
      <div class="box first">
        <span class="icon-cont"><i class="fas fa-calendar-plus"></i></span>
        <h3>اضافة فعالية</h3>
      </div>
      <div class="box second">
        <span class="icon-cont"><i class="fas fa-graduation-cap"></i></span>
        <h3>اضافة دورة</h3>
      </div>
    </div>
  </section>
  <section class="panel important">
    <h2>حجوزات القاعات</h2>
    <div class="container">
      <div class="box first">
        <span class="icon-cont"><i class="fas fa-archway"></i></span>
        <h3>قاعة تورينو</h3>
      </div>
      <div class="box second">
        <span class="icon-cont"><i class="fas fa-archway"></i></span>
        <h3>قاعة المركز العثماني</h3>
      </div>
      <div class="box second">
        <span class="icon-cont"><i class="fas fa-archway"></i></span>
        <h3>قاعة الانشطة</h3>
      </div>
    </div>
  </section>
</main>
