<main role="main">
  <section class="panel important">
  </section>
  <section class="panel important">
    <h2>مرحبا بك في لوحة التحكم الخاصة بمسؤول الموقع </h2>
    <div class="container">
      <a class="box first" href="/admin/addevent">
        <span class="icon-cont"><i class="fas fa-calendar-plus"></i></span>
        <h3>اضافة فعالية</h3>
      </a>
      <a class="box second" href="/admin/addcourse">
        <span class="icon-cont"><i class="fas fa-graduation-cap"></i></span>
        <h3>اضافة دورة</h3>
      </a>
    </div>
  </section>
  <section class="panel important">
    <h2>حجوزات القاعات</h2>
    <div class="container">
      <a class="box first" href="/admin/room/1">
        <span class="icon-cont"><i class="fas fa-archway"></i></span>
        <h3>قاعة تورينو</h3>
      </a>
      <a class="box second" href="/admin/room/2">
        <span class="icon-cont"><i class="fas fa-archway"></i></span>
        <h3>قاعة المركز العثماني</h3>
      </a>
      <a class="box second" href="/admin/room/3">
        <span class="icon-cont"><i class="fas fa-archway"></i></span>
        <h3>قاعة الانشطة</h3>
      </a>
    </div>
  </section>
</main>
