<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">{{statusCode}}</span></h1>
  <p class="output">{{errorMsg}}</p>
  <p class="output">Please try <a href="/">Home page</a></p>
  <p class="output">Good luck</p>
</div>