
<form class="cp-login-form" id="cp-login-form" action="/admin/login" method="POST">
  <h2 class="cp-login-form-title" id="cp-login-form-title">Hi Admin</h2>
  <div class="cp-login-inputs-div" id="cp-login-inputs-div">
    <div class="">
      <label class="cp-label" for="cp-input-0" id="cp-lable-0">User Name</label>
      <input class="cp-input" type="Text" name="username" placeholder="Input your username" id="cp-input-0">
    </div>
    <div class="">
      <label class="cp-label" for="cp-input-1" id="cp-lable-1">Password</label>
      <input class=" cp-input" type="password" name="password" placeholder="Input your password" id="cp-input-1">
    </div>
  </div>
  <a href="ForgetPassword" id="cp-link-0" class="cp-link">Forget Password ?</a>
  <button class="cp-button" type="submit" id="cp-login-submit">Login</button>
</form>
