<header role="banner">
  <h1>لوحة التحكم</h1>
  <ul class="utilities">
        <li class="users"><a href="#">حسابي</a></li>
    <li class="logout warn"><a href="/admin/logout">  تسجيل خروج <i class="fas fa-sign-out-alt signout"></i></a></li>
  </ul>
</header>
<nav role='navigation'>
  <div class="mainLink" id="HomePage">
    <a href="/admin/home" id="/admin/home"><i class="fas fa-home"></i> الصفحة الرئيسة </a>
  </div>
  <div class="mainLink" id="events">
    <a href="#"><i class="fas fa-calendar-alt "></i> الفعاليات </a>
    <div class="subLink" id="/admin/events">
      <a href="/admin/events">  <i class="fas fa-calendar-alt"></i>  عرض الفعاليات </a>
    </div>
    <div class="subLink" id="/admin/addevent">
      <a href="/admin/addevent">  <i class="fas fa-calendar-plus"></i>  اضافة فعالية </a>
    </div>
  </div>
  <div class="mainLink" id="courses">
    <a href="#">  <i class="fas fa-graduation-cap"></i> الدورات </a>
    <div class="subLink" id="/admin/courses">
      <a href="/admin/courses">  <i class="fas fa-graduation-cap"></i> عرض الدورات </a>
    </div>
    <div class="subLink" id="/admin/addcourse">
      <a href="/admin/addcourse">  <i class="fas fa-calendar-plus"></i> اضافة دورة </a>
    </div>

  </div>
  <div class="mainLink" id="rooms">
    <a href="#">  <i class="fas fa-list-alt"></i> حجوزات القاعات </a>
    <div class="subLink" id="/admin/room/1">
      <a href="/admin/room/1">  <i class="fas fa-archway"></i> قاعة تورينو </a>
    </div>
    <div class="subLink" id="/admin/room/2">
      <a href="/admin/room/2">  <i class="fas fa-archway"></i> قاعة المركز العثماني </a>
    </div>
    <div class="subLink" id="/admin/room/3">
      <a href="/admin/room/3">  <i class="fas fa-archway"></i> قاعة الانشطة </a>
    </div>
  </div>
</nav>
