<div class="adminInfo">
  <img src="https://www.shareicon.net/data/512x512/2016/09/01/822742_user_512x512.png" alt="">
  <h2>تم تسجيل دخولك باسم المسؤول: Hassan</h2>
</div>
<div class="dropDownContainer">


    <ul class="eventsDropdown ">
      <li class="mainDropDownTitle mainDropDown">
          الفعاليات
      </li>
      <li class="subDropDown" myAttri="myVal">
        <a href="/admin/addevent">
        اضافة فعالية
      </a>
      </li>
      <li class="subDropDown">
        <a href="/admin/events">
         عرض الفعاليات
       </a>
      </li>
    </ul>

    <ul class="coursesDropdown ">
      <li class="mainDropDownTitle mainDropDown">
          الدورات
      </li>
      <li class="subDropDown" myAttri="myVal">
        <a href="/admin/addcourse">
          اضافة دورة
        </a>
      </li>
      <li class="subDropDown">
        <a href="/admin/courses">
           عرض الدورات
         </a>
      </li>
    </ul>
    <ul class="bookingDropdown ">
      <li class="mainDropDownTitle mainDropDown">
          حجوزات القاعات
      </li>
      <li class="subDropDown" myAttri="myVal">
        <a href="/admin/room/1">
          قاعة تورينو
        </a>
      </li>
      <li class="subDropDown">
        <a href="/admin/room/2">
           قاعة المركز التركي
         </a>
      </li>
      <li class="subDropDown">
        <a href="/admin/room/3">
           قاعة الأنشطة
         </a>
      </li>
    </ul>
</div>
