<div class="adminInfo">
  <img src="https://www.shareicon.net/data/512x512/2016/09/01/822742_user_512x512.png" alt="">
  <h2>Welcome Admin : Hassan</h2>
</div>
<div class="dropDownContainer">


    <ul class="eventsDropdown ">
      <li class="mainDropDownTitle mainDropDown">
          eventsDropdown
      </li>
      <li class="subDropDown" myAttri="myVal">
        <a href="/addEvent">
        add Event
      </a>
      </li>
      <li class="subDropDown">
        <a href="/events">
         Events
       </a>
      </li>
    </ul>

    <ul class="coursesDropdown ">
      <li class="mainDropDownTitle mainDropDown">
          coursesDropdown
      </li>
      <li class="subDropDown" myAttri="myVal">
        <a href="/addCourses">
          add course
        </a>
      </li>
      <li class="subDropDown">
        <a href="/courses">
           courses
         </a>
      </li>
    </ul>
    <ul class="bookingDropdown ">
      <li class="mainDropDownTitle mainDropDown">
          bookingDropdown
      </li>
      <li class="subDropDown" myAttri="myVal">
        <a href="/room1">
          room1
        </a>
      </li>
      <li class="subDropDown">
        <a href="/room2">
           room2
         </a>
      </li>
      <li class="subDropDown">
        <a href="/room3">
           room3
         </a>
      </li>
    </ul>
</div>
