<div class="container boxs">
  <h2 class="fieldset">يوجد لدينا العديد من القاعات المجهزة للفعاليات المختلفة</h2>
  <div class="box first">
    <span class="icon-cont"><img src="/images/roomIcon.svg" alt=""></span>
    
    <h3>قاعة التورينو</h3>
    
    <ul class="hidden">
      <li>مقاعد عدد 20</li>
      <li>LCD</li>
      <li>كراسي مريحة و مجهزة </li>
    </ul>
        
    <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
  </div>
  
  <div class="box second">
    <span class="icon-cont"><img src="/images/roomIcon.svg" alt=""></span>
    
    <h3>القاعة التركية</h3>
    
    <ul class="hidden">
      <li>عدد مقاعد 25</li>
      <li>مجهزة بشاشة عرض حديثة</li>
      <li>مؤثثة و مجهزة للدورات التعليمية</li>
      <li>LCD</li>
    </ul>
    <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
  </div>
  
  <div class="box third">
    <span class="icon-cont"><img src="/images/roomIcon.svg" alt=""></span>
    
    <h3>قاعة الانشطة</h3>
    
    <ul class="hidden">
      <li>عدد مقاعد 20</li>
      <li>مجهزة للدورات واللقائات الثقافية</li>
      <li>LCD</li>
    </ul>
        
    <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
  </div>
</div>