<nav class="navbar container">
  <ul>
    <li><a href="/events">الفعاليات</a></li>
    <li><a href="/courses">دورات تدريبية</a></li>
    <li><a href="/bookings">حجز القاعات</a></li>
    <li><a href="">من نحن</a></li>
    <li><a href="">اتصل بنا</a></li>
  </ul>
</nav>

<section class="hero">
  <div class="">
    <h1>المكتبة العامة بلدية غزة</h1>
    <h2>منارة المعرفة وزاد العقول</h2>
  </div>
</section>
