<nav class="navbar container">
  <ul>
    <li><a href="/events">الفعاليات</a></li>
    <li><a href="/courses">دورات تدريبية</a></li>
    <li><a href="/bookings">حجز القاعات</a></li>
    <li><a href="">من نحن</a></li>
    <li><a href="">اتصل بنا</a></li>
  </ul>
</nav>

<section class="hero">
  <div class="">
    <a href="/"><img class="logo" src="/images/logo.jpg" alt="المكتبة العربية"></a>
    <h1>المكتبة العامة بلدية غزة</h1>
    <form class="search-form" action="" method="get">
      <button type="button" name="search"> <i class="fas fa-search"></i></button>
      <input type="text" name="search" value="">
    </form>
  </div>
</section>
