<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/style.css">
{{#if styleLinks}}
{{#each styleLinks}}
<link rel="stylesheet" href="/css/fullcalendar/{{this}}.css">
{{/each}}
{{/if}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Amiri&amp;subset=arabic,latin-ext" rel="stylesheet">
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css"/>

{{#if jsLinks}}
{{#each jsLinks}}
  <script type="text/javascript" src="/js/fullcalendar/{{this}}.js"></script>
{{/each}}
{{/if}}

<title>المكتبة العامة|بلدية غزة</title>
